form{
    width: 380px;
    flex: 5 1 20px;
    height: 300px;
    border: 3px solid red;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: white;

    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    }
label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: white;
    }
#feedbackh1{
    margin-left: 150px;
}